@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #3767AD;
}

.header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.beer {
  color: #FFFFFF;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 64px;
display: flex;
align-items: center;
text-align: center;
margin-bottom: 75px;
&__glass {
  background: #3767AD;
  box-sizing: border-box;
}
&__number {
  position: absolute;
margin-top: 270px;

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 112px;
line-height: 131px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}
}

.add-beer {
  width: 216px;
height: 47px;
margin-top: 46px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #000000;

}

.enclose-beer {
  margin-top: 37px;
  background-color: #3767AD;
  width: 184px;
height: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  color:  #F5E5E7;
  border-color: #3767AD;

}